name: Solucion pregunta 1

on: 
  push: 
    branches:
      - main1
jobs:
  crear-zip:
    runs-on: ubuntu-latest
    steps:
    
      - name: Step 1 - Crear directorios examen
        run: mkdir examen
             mkdir descargas
        
      - name: Step 2 - Adicionar archivos al directorio examen
        run: |
          cd examen
          echo 'Mensaje examen 1'    > examen01.html
          echo 'Mensaje examen 2'    > examen02.html
          echo 'Mensaje examen 3'    > examen03.html
          echo 'Mensaje examen 4'    > examen04.html
          echo 'Mensaje examen 5'    > examen05.html
          cd ..
          
      - name: Step 3 - creacion del artefacto
        uses: papeloto/action-zip@v1
        with:
          files: examen/
          dest: examen.zip
                           
      - name: Step 4 - Verificacion la creacion del artefacto ZIP
        run: ls -la
        
      - name: Step 5 - Upload Artefacto
        uses: actions/upload-artifact@v3
        with:
          name: Artefacto_Examen
          path: examen.zip
          
      - name: Step 6 - Download Artefacto
        uses: actions/download-artifact@v3
        with:
          name: Artefacto_Examen
          path: ~/descargas
          
      - name: Step 7 -Verificacion de la Descarga del artefacto
        run: ls -la ~/descargas
          
